<fieldset>
    <legend>FORMULARIO DE ACTUALIZACIÓN DE DEPARTAMENTOS</legend>
    <div id="department-editor" class="row">
        <form [formGroup]="fgValidation" (ngSubmit)="departmentUpdate()" class="col s12">
            <div class="row">
                <div class="input-field col s8">
                    <input id="name" type="text" class="validate" formControlName="name">
                    <label for="name" data-error="wrong">Nombre</label>
                    <div class="warning-validation"
                        *ngIf="fg.name.errors && (fg.name.dirty || fg.name.touched)">
                        <strong *ngIf="fg.name.errors.required">
                            Nombre requerido!<br />
                        </strong>
                        <strong *ngIf="fg.name.errors.minlength">
                            El nombre debe tener al menos 3 caracteres<br />
                        </strong>
                        <strong *ngIf="fg.name.errors.maxlength">
                            El nombre debe tener menos de 20 caracteres!<br />
                        </strong>

                    </div>
                </div>
                <div class="input-field col s2">
                    <input id="code" type="text" class="validate" formControlName="code">
                    <label for="code" data-error="wrong">Código</label>
                    <div class="warning-validation"
                        *ngIf="fg.code.errors && (fg.code.dirty || fg.code.touched)">
                        <strong *ngIf="fg.code.errors.required">
                            Código requerido!<br />
                        </strong>
                        <strong *ngIf="fg.code.errors.minlength">
                            El código debe tener al menos 1 caracter<br />
                        </strong>
                        <strong *ngIf="fg.code.errors.maxlength">
                            El código debe tener menos de 6 caracteres!<br />
                        </strong>

                    </div>
                </div>
            </div>
            <div>
                <div class="col s9">
                </div>
                <button class="btn waves-effect waves-light green" type="submit" name="action">Actualizar Datos
                </button>
            </div>

        </form>
    </div>
</fieldset>
